<p>Be social and share this post!<br />

<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}" title="Share on Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus"><i class="fa fa-google-plus-square fa-2x"></i></a>
<a href="https://www.onenote.com/clipper/save?appName=DamianFlynnShare&sourceUrl={{ site.url }}{{ page.url }}&imgUrl={{ site.url }}{{ page.url }}&title={{ page.title }}&description={{ post.excerpt }}&notes=Saving+from+DamianFlynn.com+Blog" onclick="window.open(this.href, 'targetWindow', 'width=575, height=550'); return false;"><img src="{{ site.url }}/public/img/share-onenote.png" alt="Share via OneNote"></a></p>
